@page
@model AspNetCoreIdentityCourse.IdentityApp.Pages.Account.MFAAuthenticatorSetupModel
@{
}

<h3>Step 1:</h3>
<p>
    Please scan the QR Code or enter the key to your authenticator app:
</p>
<p>
    <img src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.SetupMFA.QRCodeBytes))" width="300" height="300" />
</p>
<br />
<p>
    @Model.SetupMFA.Key
</p>
<br />

<h3>Step 2:</h3>
<p>
    Please enter the code from your authenticator app:
</p>
<form method="post">
    @if (Model.Succeeded)
    {
        <div class="alert alert-success">
            The authenticator is successfully setup.
        </div>
    }
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="input-group row mb-3">
        <div class="col-2">
            <label asp-for="SetupMFA.SecurityCode"></label>
        </div>
        <div class="col">
            <input type="text" asp-for="SetupMFA.SecurityCode" class="form-control" />
        </div>
        <span class="text-danger" asp-validation-for="SetupMFA.SecurityCode"></span>
    </div>
    <div class="input-group row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Verify" />
        </div>
        <div class="col">
            <input type="hidden" asp-for="SetupMFA.Key" />
            <input type="hidden" asp-for="SetupMFA.QRCodeBytes" />
        </div>
    </div>
</form>
